In [55]:
# Import Modules
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Import GeoText module to parse locations in blocks of text
from geotext import GeoText

%matplotlib inline
plt.style.use('dark_background')

%load_ext autoreload
%autoreload 2

pd.set_option('display.min_row', 25)
pd.set_option('display.max_colwidth', 300)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
# Import Train Data
data = pd.read_csv('data/train.csv')

In [9]:
data

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
...,...,...,...,...,...
7601,10859,NaN,NaN,#breaking #LA Refugio oil spill may have been ...,1
7602,10860,NaN,NaN,a siren just went off and it wasn't the Forney...,1
7603,10862,NaN,NaN,Officials say a quarantine is in place at an A...,1
7604,10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1
7607,10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [12]:
data['keyword'].value_counts(dropna=False)

NaN                      61
fatalities               45
armageddon               42
deluge                   42
body%20bags              41
harm                     41
sinking                  41
damage                   41
evacuate                 40
windstorm                40
fear                     40
outbreak                 40
                         ..
demolished               28
volcano                  27
deluged                  27
battle                   26
bush%20fires             25
war%20zone               24
rescue                   22
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 222, dtype: int64

In [13]:
data['location'].value_counts(dropna=False)

NaN                             2533
USA                              104
New York                          71
United States                     50
London                            45
Canada                            29
Nigeria                           28
UK                                27
Los Angeles, CA                   26
India                             24
Mumbai                            22
Washington, DC                    21
                                ...
Kansas, The Free State! ~ KC       1
Centurion                          1
Warszawa                           1
CT, USA                            1
Boulder, CO                        1
Made Here In Detroit               1
Trumann, Arkansas                  1
MI                                 1
Hickville, USA                     1
Maharashtra                        1
Upper St Clair, PA                 1
The Shire                          1
Name: location, Length: 3342, dtype: int64

In [ ]:
def parse_country(text:str) -> dict:
    try:
        res = GeoText(text).country_mentions
    except:
        res = {}
    return res

data['country'] = data['location'].apply(parse_country)

In [48]:
# Some has 2 key values for country because city name is in both
data[~data['location'].isnull()]

,id,keyword,location,text,target,country
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,{'US': 1}
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,{'US': 1}
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,{}
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,{'US': 1}
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0,{'GB': 1}
36,54,ablaze,Pretoria,@PhDSquares #mufc they've built so much hype a...,0,{'ZA': 1}
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1,{}
39,57,ablaze,Paranaque City,Ablaze for you Lord :D,0,{}
40,59,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0,{}
42,62,ablaze,milky way,Had an awesome time visiting the CFC head offi...,0,{}
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1,{}
48,68,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0,{}
...,...,...,...,...,...,...
7567,10817,wrecked,At your back,Wrecked emotions.,0,{}
7569,10819,wrecked,"Livingston, MT",@marynmck That's beyond adorable. I hope it wo...,0,{'US': 1}
7570,10821,wrecked,California,Cramer: Iger's 3 words that wrecked Disney's s...,0,{}
7571,10822,wrecked,Glasgow,@Caitsroberts see U the night wee bArra to get...,0,{'GB': 1}
7572,10823,wrecked,"Manhattan, NY",@Kirafrog @mount_wario Did you get wrecked again?,1,{'US': 1}
7573,10824,wrecked,"Denton, Texas",Had an awesome time gettin wrecked at bowling ...,0,{'US': 2}
7574,10825,wrecked,Global,Cramer: 3 words that wrecked DIS stock - http:...,0,{}
7575,10826,wrecked,TN,On the bright side I wrecked http://t.co/uEa0t...,0,{}
7577,10829,wrecked,#NewcastleuponTyne #UK,@widda16 ... He's gone. You can relax. I thoug...,0,{}
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0,"{'CA': 1, 'US': 1}"
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0,{'GB': 1}
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0,{'US': 1}

In [56]:
data['text'][:5]

0                                                                    Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
1                                                                                                   Forest fire near La Ronge Sask. Canada
2    All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected
3                                                                        13,000 people receive #wildfires evacuation orders in California
4                                                 Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school
Name: text, dtype: object